.Emp_login_container{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    gap: 50px;
    
}

.Delivery_img{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Delivery_img > img {
    width: 70%;
    
}
.d_img{
   
    animation: d_imageMove 800ms ease-in-out;
    /* animation: leftToright 800ms ease-in-out; */
}
.rightSide{
    width: 50%;
    height: 100%;
    /* background-color: #58928f; */
    display: flex;
    justify-content: center;
}

.delivery_login_form_container{
    width: 80%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: 1px solid rgba(12, 120, 62,0.4);
    border-radius: 10px;
    
}
.delivery_login_form > h1 {
    align-self: self-start;
    margin: 0 auto;
}

.delivery_loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    align-items: center;
    
}
.delivery_loginForm > input{
    width: 90%;
    margin-top: 20px;
    border: 1px solid rgba(59, 146, 48, 0.4);
    outline: none;
    line-height: 30px;
    border-radius: 3px;
    text-indent: 5px;
}
#showpassword{
    margin: 0;
    width: fit-content;
}
#showpassword:focus{
    outline: none;
    
}

.delivery_loginForm > input:focus{
    outline-style: solid;
    outline-width: 1px;
    outline-color: #43B000;
}
.login_resetPss_reg_link > a{
    font-size: 10px;
    margin-top: 20px;
    color: #0C783E;
}

.login_resetPss_reg_link{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@keyframes d_imageMove {
    0%{
        transform: scale(0);
        
    }

    50%{
        transform: scale(1);
        
    }
}

@keyframes leftToright {
    0%{
        transform: translateX(100%);
    }

    50%{
        transform: translateX(0%);
    }
}

#loginBtn{
    width: fit-content;
    height: fit-content;
    background-color: #0C783E;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 2px 10px;
    transition: all ease 300ms;
    margin-top: 20px;
}

#loginBtn:hover{
    background-color: #0e6b3a;
}