.sales_list_container{
    width: 90%;
    height: 100%;
    padding: 0 30px;
}

.sale_list_inputs{
    border: 1px solid rgba(35, 145, 31,0.2);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    outline: none;
    text-indent: 5px;
    width: 200px;
    margin-right: 20px;
}


.sales_options{
    
  height: 10%;
  display: flex;
  align-items: center;
}
.add_sale_btn{
  background-color: #4b7256;
  color: white;
  border: none;
  height: 34px;
  margin-left: 10px;
  border-radius: 5px;
  transition: all ease 200ms;
  outline-style: outset;
}
.add_sale_btn:hover{
  background-color: #36533e;
}

#sales_table{
  background-color: #abc4b2;

  width: 100%;
}
#sales_table th{
  background-color: #4b7256;
  padding: 5px 2px;
  color: white;
}
#sales_table td{
  padding: 0px 2px;
  border:2px solid rgb(255, 255, 255);
}
#sales_table tr:nth-child(even) {
  background-color: #dee6de;
}

th{
  font-weight: 400;
}


/* table, th, td {
  
} */

/* th,td{
  
} */